<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body id="home">
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo"><img src="{{ url_for('static', filename='img/bulba_logo.png') }}" style="width: 100px;"></div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">      
              <!-- NAVIGATION MENUS -->
              <div class="menu">     
                <li><a href="/">Home</a></li>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/response">Response</a></li>
                <li><a href="/response">Contact</a></li>
              </div>
            </ul>
          </nav>
        </div>
      <div style="position: relative; top: 100px;width: 100%;">
        <div >
          <img class="mySlides" src="{{ url_for('static', filename='img/background1.jpeg') }}" >
          <img class="mySlides" src="{{ url_for('static', filename='img/background2.jpeg') }}" >
          <img class="mySlides" src="{{ url_for('static', filename='img/background3.jpeg') }}" >
          <script src="{{ url_for('static', filename='js/home.js') }}"></script>
        </div>
        <div style="float: right; margin: 25px;font-size: 20px; padding: 50px; width: 20%;"><p>Unlocking the Secrets of Your Plants with Cutting-Edge AI</p>

          <p>In the evergreen world of botany, understanding your plant's needs can sometimes feel like deciphering a complex code. That's where PlantAI Diagnostics steps in, bringing the power of Artificial Intelligence to your green sanctuary.</p></div>
        </div>
      </div>
        <div style="position: absolute; width: 100%; height: 100px; background-color: black; bottom: 0px;"></div>
    </body>
    <footer>
      
    </footer>
</html>